<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniTea Home</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Our own style sheet -->        
    <link rel="stylesheet" href="construction_style.css">

    <!-- For icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">UniTea</a>
            <ul id="nav-mobile" class="left">
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="contactus.html">Contact</a></li>
                <li><a href="construction.html">Profile</a></li>
            </ul>
        </div>
    </nav>



    <div class="home-body">

        <h1>This page is currently under</h1>

        <div class="construction-wrapper">
            <div class="box a">C</div>
            <div class="box b">O</div>
            <div class="box c">N</div>
            <div class="box d">S</div>
            <div class="box e">T</div>
            <div class="box f">R</div>
            <div class="box g">U</div>
            <div class="box h">C</div>
            <div class="box i">T</div>
            <div class="box j">I</div>
            <div class="box k">O</div>
            <div class="box l">N</div>
        </div>
    </div>

        <h5>Please, check back soon!</h5>




        <div class="foot">
            <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                © 2021 UniTea
                <a class="grey-text text-lighten-4 right" href="#!">Terms of Service</a>
                </div>
            </div>
            </footer>
        </div>
    </div>





        
        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>