/* for our forms */
/*************************************************/
form input, textarea, button {
  display: block;
  margin: 30px;
}

html {
background-color: rgb(76, 77, 76);
}

a {
color: white;
}

#center-it {
margin-left: 33%;
margin-right: 33%;
}

#btn-center {
margin-left: 100%;
}

.nav-wrapper {
  background-color: rgb(52, 50, 73);
}

.contact-box {
  display: flex;
  justify-content: center;
}

.input-field {
  margin: 20px;
}

.row {
  display: block;
  justify-content: center;
  margin-left: 33%;
  margin-right: 33%;
}



.btn {
background-color: rgb(52, 50, 73);
}

.btn:hover {
background-color:rgb(43, 63, 87);
}

.subject-wrapper {
margin-top: 5%;
 display: grid;
  grid-gap: 20px;
  /* 20% * 5 = 100% */
  grid-template-columns: repeat(3, [col] 25%) ;
  grid-template-rows: repeat(2, [row] 25%  );
  background-color: rgb(52, 50, 73);
  color: rgb(52, 50, 73);
  justify-content: space-evenly;
  margin-bottom: 30px;
}


.create-wrapper {
display: grid;
grid-gap: 5px;
/* 20% * 5 = 100% */
grid-template-columns: repeat(3, [col] 25%) ;
grid-template-rows: repeat(2, [row] 25%  );
background-color: rgb(52, 50, 73);
color: rgb(52, 50, 73);
justify-content: space-evenly;

}


*, *:before, *:after {
box-sizing: border-box;
}

.home-body {
margin: 40px;
font-family: 'Open Sans', 'sans-serif';
color: rgb(52, 50, 73);
justify-content: center;
}

@keyframes getBigger {
0% {transform: scale(1);}
50% {transform: scale(1.5);}
100% {transform: scale(1);}
}

.body {
display: flex;
min-height: 100vh;
flex-direction: column;
}


.foot {
margin-top: 10%;
}

.page-footer {
background-color: rgb(52, 50, 73);
}


#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 15px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
}

