/* for our forms */
/*************************************************/
form input, textarea, button {
    display: block;
    margin: 30px;
}

html {
  background-color: rgb(76, 77, 76);
}

a {
  color: white;
}

#center-it {
  margin-left: 33%;
  margin-right: 33%;
}

#btn-center {
  margin-left: 100%;
}

.nav-wrapper {
    background-color: rgb(52, 50, 73);
}

.contact-box {
    display: flex;
    justify-content: center;
}

.input-field {
    margin: 20px;
}

.row {
    display: block;
    justify-content: center;
    margin-left: 33%;
    margin-right: 33%;
}



.btn {
  background-color: rgb(52, 50, 73);
}

.btn:hover {
  background-color:rgb(43, 63, 87);
}
  
.subject-wrapper {
  margin-top: 5%;
   display: grid;
    grid-gap: 20px;
    /* 20% * 5 = 100% */
    grid-template-columns: repeat(3, [col] 25%) ;
    grid-template-rows: repeat(2, [row] 25%  );
    background-color: rgb(52, 50, 73);
    color: rgb(52, 50, 73);
    justify-content: space-evenly;
    margin-bottom: 30px;
    height: auto;
}


.create-wrapper {
  display: grid;
  grid-gap: 5px;
  /* 20% * 5 = 100% */
  grid-template-columns: repeat(3, [col] 25%) ;
  grid-template-rows: repeat(2, [row] 25%  );
  background-color: rgb(52, 50, 73);
  color: rgb(52, 50, 73);
  justify-content: space-evenly;
  
}

  
*, *:before, *:after {
  box-sizing: border-box;
}

.home-body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  color: rgb(52, 50, 73);
  justify-content: center;
}

@keyframes getBigger {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}

.box {
background-color: #444;
color: #fff;
border-radius: 10px;
padding: 35px;
font-size: 150%;
text-align: center;
}

.a {
  grid-column: col / span  1;
  grid-row: row 1;
  animation: getBigger 2s 1s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("images/Math.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.b {
  grid-column: col 2 / span  1 ;
  grid-row: row 1;
  animation: getBigger 2s 3s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("images/Science.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.c {
  grid-column: col 3 / span 1;
  grid-row: row 1;
  animation: getBigger 2s 5s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("images/Languages.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.d {
  grid-column: col / span  1 ;
  grid-row: row 2;
  animation: getBigger 2s 7s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("images/Economics.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.e {
  grid-column: col 2 / span 1;
  grid-row: row 2;
  animation: getBigger 2s 9s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("images/History.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.f {
  grid-column: col 3 / span 1;
  grid-row: row 2  ;
  animation: getBigger 2s 11s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("images/Business1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*main {
  flex: 1 0 auto;
}*/

.foot {
  margin-top: 10%;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page-footer {
  background-color: rgb(52, 50, 73);
}

