{% extends 'layouts/about-base.html' %} {% block about %}
 {% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
        <img class="cropped" src="https://cdn.discordapp.com/attachments/851329758364827689/852444018343804938/image0_1b.jpeg">
            <span class="card-title">Kiara Gil</span>
        </div>
        <div class="card-content">
          <p> Hello! My name is Kiara, and I am the team lead. I am currently a senior at SFSU hoping to graduate soon! When I'm not coding I am probably watching movies or rock climbing.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 