<div>
  <img class="cropped" src="https://cdn.discordapp.com/attachments/851329758364827689/851812930701492244/Shinjuku.JPG">
  <p>I'm a graduate student at SF State University, doing a Master's degree in Computer Science. I'm from Japan and currently taking classes from here. Previously, I graduated from a university in Japan with a Bachelor's degree in Information Science. After that, I worked for a manufacturing company for some years as a firmware engineer. Therefore, I'm familiar with C and embedded system development. Other than playing with code, I like traveling, watching anime, and drawing.</p>
</div>
