 {% extends 'layouts/base.html' %} {% block content %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

<div class="about-wrapper">
    <div class="about-flex">
        <div class='card-kiara'> {% include "about/kiara.html" %} </div>
        <div class='card-josh'> {% include "about/josh.html" %} </div>
        <div class='card-ostyn'> {% include "about/ostyn.html" %} </div>
        <div class='card-cong'> {% include "about/cong.html" %} </div>
        <div class='card-melinda'> {% include "about/melinda.html" %} </div>
        <div class='card-miho'> {% include "about/miho.html" %} </div>
        <div class='card-vernon'> {% include "about/vernon.html" %} </div>
    </div>
</div>

{% endblock %}