 {% extends 'layouts/base.html' %} {% block content %}

    <h3>Create a Study Group</h3>
    <div class="contact-box">
        <div class="row">
            <form method="POST" class="col s12" enctype="multipart/form-data" action="/execcreatestudygroup" id="createstudygroupform">
                {% csrf_token %}
                <tbody>
                    <tr>
                        <th>{{ form.groupName.label }}</th>
                        <td>{{ form.groupName }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.description.label }}</th>
                        <td>{{ form.description }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.subject.label }}</th>
                        <div class="input-field col s12">
                            {{ form.subject }}
                        </div>
                    </tr>
                </tbody>
                <br>
                <a href="#" onclick="document.forms['createstudygroupform'].submit();" class="waves-effect waves-light btn-small" id="editSGPC-button">Submit</a>
            </form>
        </div>
    </div>
        
        
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, []);
      });
    </script>
{% endblock %}
