{% extends 'layouts/base.html' %} {% block content %}
    <h3>Create a New Post</h3>
    <div class="contact-box">
        <div class="row">
            <form method="POST" class="col s12" enctype="multipart/form-data" action="execcreatestudygrouppost">
                {% csrf_token %}
                    <div class="input-field col s12" id="editSGP-text">
                        <th>{{ form.postTitle.label }}</th>
                        <td>{{ form.postTitle }}</td>
                    </div>
                    <div class="input-field col s12" id="editSGP-text">
                        <th>{{ form.post.label }}</th>
                        <td>{{ form.post }}</td>
                    </div>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
            </form>
        </div>
    </div>
            
{% endblock %}
