{% extends 'layouts/base.html' %} 
{% load materializecss %}{% block content %}
    <div class="contact-wrapper">
        <div id="FAQ-head">
            <div id="FAQ-circle">
                Frequently Asked Questions
            </div>
        </div>
        <div id="FAQ-box">
            <details>
                <summary>
                    How do I make a study group?
                </summary>
                <p>
                    UniTea makes creating a study group a very simple and streamlined experience.
                    <br>
                    <br>1. First, register for UniTea and then log in. Once logged in, you will be directed to the UniTea home page.</br>
                    <br>
                    2. From there, click the create group button near the bottom of the UniTea homepage.</br>
                    <br>
                    3. When creating a study group, input a group name, description, and a subject that you desire.</br>
                    <br>
                    4. Once you are satisfied with your group's details, click the submit button and your study group will now be created!</br>
                </p>
            </details>

            <hr class="solid">

            <details>
                <summary>
                    How do I delete a study group?
                </summary>
                <p>
                    Here at UniTea, we understand that nothing lasts forever.
                    This is why we make deleting your study group quick and easy.
                    If you are the creator of a study group and you wish to remove your group from our site, simply follow these steps: 
                    <br>
                    <br> 1. Navigate to your study group that you wish to delete.</br>
                    <br>2. In your study group page you will a edit group option next to your username, click it.</br>
                    <br>3. Below all of the edit options for your study group you will see a delete button, click this button and your study group will then be deleted.</br>
                    <br>Keep in mind that all deletions from UniTea are final and can not be reversed.</br>
                </p>
            </details>

            <hr class="solid">

            <details>
                <summary>
                    How many members can be in a study group?
                </summary>
                <p>
                    UniTea currently supports 20 members per study group. 
                    Team work does make the dream work, that is why we want groups to be large enough to support teams but also condensed enough to help facilitate their success.
                </p>
            </details>
        </div>
    </div>

        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}