{% extends 'layouts/base.html' %} 
{% load materializecss %}{% block content %}
    <div class="contact-wrapper">
        <div class="FAQ-head">
            <div class="FAQ-circle">
                Frequently Asked Questions
            </div>
        </div>
        <div class="FAQ-box">
            <details>
                <summary>
                    How do I make a group?
                </summary>
                <p class="text">Hello</p>
            </details>
            <details>
                <summary>
                    How do I delete a group?
                </summary>
                <p class="text">You create a group</p>
            </details>
            <details>
                <summary>
                    How many members can be in a group?
                </summary>
                <p class="text">There can be such and such members.</p>
            </details>
        </div>
    </div>

        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}