{% extends 'layouts/base.html' %}

{% block content %}

<div class="container">

    <div class="subject-wrapper">
        <div class="box a"><a href="math/studygrouplisting" class="font-white">Math</a></div>
        <div class="box b"><a href="science/studygrouplisting" class="font-white">Science</a></div>
        <div class="box c"><a href="languages/studygrouplisting" class="font-white">Languages</a></div>
        <div class="box d"><a href="economics/studygrouplisting" class="font-white">Economics</a></div>
        <div class="box e"><a href="history/studygrouplisting" class="font-white">History</a></div>
        <div class="box f"><a href="business/studygrouplisting" class="font-white">Business</a></div>
    </div>
    <div class="create-wrapper">
        <div class="box"><a href="/createstudygroup" class="font-white">Create Group +</a></div>
    </div>

</div>
{% endblock %}


<!-- Test registered user listing  -->
<!-- <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.userId }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>   -->
<!-- Test registered user listing  -->