
{% extends 'layouts/base.html' %} {% block content %}

<!-- Test registered user listing  -->
<!-- <table>  
        <thead>  
            <tr>  
                <th>User ID</th>  
                <th>User Name</th>  
                <th>User Email</th>
                <th>Role</th>
            </tr>  
        </thead>  
        <tbody>  
            {% for user in users %}  
            <tr>  
                <td>{{ user.userId }}</td>  
                <td>{{ user.username }}</td>  
                <td>{{ user.email }}</td>   
                <td>{{ user.role }}</td>  
            </tr>  
            {% endfor %}  
        </tbody>  
    </table>   -->
    <!-- Test registered user listing  -->
    <div class="home-body">
        <div class="subject-wrapper">
            <div class="box a"><a href="construction">Math</a></div>
            <div class="box b"><a href="construction">Science</a></div>
            <div class="box c"><a href="construction">Languages</a></div>
            <div class="box d"><a href="construction">Economics</a></div>
            <div class="box e"><a href="construction">History</a></div>
            <div class="box f"><a href="construction">Business</a></div>
        </div>
        <hr>
        <div class="post-wrapper">
            <div class="box g">Recently Added Groups</div>
            <div class="box i"><a href="construction">Group #1</a></div>
            <div class="box j"><a href="construction">Group #2</a></div>
        </div>
        <hr>
        <div class="box k">Create Group</div>
        <div class="create-wrapper">
            <div class="box l"><a href="construction">+</a></div>
        </div>
    </div>
{% endblock %} 

