{% extends 'layouts/base.html' %}

{% block content %}

<div class="dash-section">
    <h5>Your Groups</h5>
    <div class="dash-row">
        {% for studyGroupAsMember in studyGroupsAsMember %}
        <div class="dash-col">
            <a href="/{{ studyGroupAsMember.studyGroupId }}/studygroup">
                <div class="card dash-card">
                    <div class="card-content">
                        <span><b>{{ studyGroupAsMember.groupName }}</b></span>
                        <hr>
                        <p>{{ studyGroupAsMember.description }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% for studyGroupAsHost in studyGroupsAsHost %}
        <div class="dash-col">
            <a href="/{{ studyGroupAsHost.studyGroupId }}/studygroup">
                <div class="card dash-card">
                    <div class="card-content">
                        <span class="new badge" data-badge-caption="Host"></span>
                        <br>
                        <span><b>{{ studyGroupAsHost.groupName }}</b></span>
                        <hr>
                        <p>{{ studyGroupAsHost.description }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <a href="/userstudygrouplisting">See All Groups</a>
</div>

<h5>
    <div id="explainer" class="area"> Click on a subject button below to browse study groups <br> OR <br> use the search
        bar above to find one.</div>
</h5>


<div class="subject-wrapper">
    <a href="math/studygrouplisting" class="font-white">
        <div class="box a">Math</div>
    </a>
    <a href="science/studygrouplisting" class="font-white">
        <div class="box b">Science</div>
    </a>
    <a href="languages/studygrouplisting" class="font-white">
        <div class="box c">Languages</div>
    </a>
    <a href="economics/studygrouplisting" class="font-white">
        <div class="box d">Economics</div>
    </a>
    <a href="history/studygrouplisting" class="font-white">
        <div class="box e">History</div>
    </a>
    <a href="business/studygrouplisting" class="font-white">
        <div class="box f">Business</div>
    </a>
</div>
<br>

<div class="create-wrapper">
    <a href="/createstudygroup" class="font-white">
        <div class="boxB">+ Create Group</div>
    </a>
</div>

<br>
{% endblock %}


<!-- Test registered user listing  -->
<!-- <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.userId }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>   -->
<!-- Test registered user listing  -->