{% extends 'layouts/base.html' %} {% block content %}



    <div class="landing-box">
        <div class="greeting-box" id="greeting-box">
            <div class='greeting-text'>
                Find your study group today!
            </div>
            <div class="landing-register-button" >
                <a class="waves-effect waves-light btn-large" href={% url 'register' %}>Register Now!</a>
            </div>
            <div class="landing-login-button" >
                <a class="waves-effect waves-light btn-large" href={% url 'login' %}>&nbsp; &nbsp; &nbsp; &nbsp;Log In&nbsp; &nbsp; &nbsp; &nbsp;</a>
            </div>

        </div>
        <div class='landing-photo' id='landing-photo'>
            <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjI2MzgwMjUx&ixlib=rb-1.2.1&q=80&w=1080" alt="Study Group" class="landing-img">
        </div>
        <div class="landing-slogan">
            <div class="landing-slogan1">
                A refreshing way to study
            </div>
            <div class="landing-slogan2">
                Connect with real people
            </div>
            <div class="landing-slogan3">
                Drive your success together
            </div>
        </div>
    </div>

    <hr class="solid">

    <div class="faqs-title1">
        <h3>What is UniTea?</h3>
    </div>
    <div class="faqs1">
        <div class='faq-photo1' id='faq-photo1'>
            <img src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Study Group" class="landing-img">
        </div>
        <div class="faqs-slogan1">
            <p>
                UniTea is an online platform for students to form and join study groups for their classes or interests.
            </p>
        </div>
    </div>

    <hr class="solid">

    <div class="faqs-title2">
        <h3>What does UniTea do?</h3>
    </div>
    <div class="faqs2">
        <div class='faq-photo2' id='faq-photo2'>
            <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1063&q=80" alt="Study Group" class="landing-img">
        </div>
        <div class="faqs-slogan2">
            <p>
                We believe that "Teamwork Makes The Dreamwork"! We provide an environment to make that dream a reality.
            </p>
        </div>
    </div>

    <hr class="solid">

    <div class="faqs-title3">
        <h3>How do you use UniTea?</h3>
    </div>
    <div class="faqs3">
        <div class='faq-photo3' id='faq-photo3'>
            <img src="https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Study Group" class="landing-img">
        </div>
        <div class="faqs-slogan3">
            <p>
                Once you have registered an account with us, all that's left is to create your own study group
                and you're ready to go!
            </p>
        </div>
    </div>
    <div class="landing-join-button" >
        <a class="waves-effect waves-light btn-large" href={% url 'register' %}>Join Us!</a>
    </div>


{% endblock %}