{% extends 'layouts/base.html' %} {% block content %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% comment %} <div class="main" id="section1">
    <h2>Section 1</h2>
    <p>This is section one!</p>
    <a href="#section2">Click Me to Smooth Scroll to Section 2 Below</a>
    <p>Note: Remove the scroll-behavior property to remove smooth scrolling.</p>
</div>

<div class="main" id="section2">
    <h2>Section 2</h2>
    <p>This is section two!</p>
    <a href="#section3">Click Me to Smooth Scroll to Section 3 Below</a>
</div>

<div class="main" id="section3">
    <h2>Section 3</h2>
    <p>This is section three!</p>
    <a href="#section1">Click Me to Smooth Scroll to Section 1 Above</a>
</div> {% endcomment %}

    <div class="landing-box">
        <div class="greeting-box" id="greeting-box">
            <div class='greeting-text'>
                Find your study group today!
            </div>
            <div class="landing-register-button">
                <button type="button">Register Now</button>
            </div>
            <div class="landing-login-button">
                <button type="button">Already a member? Log in</button>
            </div>
        </div>
        <div class='landing-photo' id='landing-photo'>
            <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjI2MzgwMjUx&ixlib=rb-1.2.1&q=80&w=1080" alt="Study Group" class="landing-img">
        </div>
        <div class="landing-slogan">
            <div class="landing-slogan1">
                A refreshing way to study
            </div>
            <div class="landing-slogan2">
                Connect with real people
            </div>
            <div class="landing-slogan3">
                Drive your success together
            </div>
        </div>
    </div>

{% endblock %}