 {% extends 'layouts/base.html' %} {% block content %}

    <h3>Log in</h3>
    <div class="contact-box">
        <div class="row">
            <form method="POST" class="col s12" enctype="multipart/form-data" action="/loginaccount">
                {% csrf_token %}
                <tbody>
                    <tr>
                        <th>{{ form.email.label }}</th>
                        <td>{{ form.email }}</td>
                        <td>{{ form.email.errors }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.password.label }}</th>
                        <td>{{ form.password }}</td>
                        <td>{{ form.password.error }}</td>
                    </tr>
                </tbody>
                <br>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
  
            </form>
        </div>
    </div>
        
        
{% endblock %}
