{% extends 'layouts/base.html' %} {% block content %}

    <div class="container">
        <h3>Main Forum</h3>

        <div class="collection">
            <a href="createmainpost" class="collection-item">
            <b>+ Create a Post</b>
            </a>
            {% for mainpost in mainposts %} 
            <a href="/{{ mainpost.postId }}/mainpost" class="collection-item">
                <b>{{ mainpost.postTitle }}</b>・{{ mainpost.userId }}
                {% if mainpost.userId.role == "educator" %}
                <span class="new badge red educator-badge" data-badge-caption="Educator"></span>
                {% endif %}
            </a>
            {% endfor %}
        </div>

    </div>

{% endblock %}
