{% extends 'layouts/base.html' %} {% block content %}

    <h3>{{ mainpost.postTitle }}</h3>
    <span>{{ mainpost.userId }}</span>
    
    {% if mainpost.userId == user %}
    ・<a href="editmainpost">edit</a>
    {% endif %}
    <br>

    <p>{{ mainpost.post }}</p>

    <h5>Comments</h5>
    <table>
        <tbody>  
            {% for comment in comments %}  
            <tr>  
                <td>{{ comment.comment }}</td>
                <td>
                    {{ comment.userId }}
                    {% if comment.userId == user %}
                    ・<a href="{{comment.commentId}}/editmaincomment">edit</a>
                    <br>
                    {% endif %}
                </td>
                <td>{{ comment.commentDateTime }}</td>
            </tr>  
            {% endfor %}
            <tr>
                <td>
                    <form method="POST" class="col s12" enctype="multipart/form-data" action="execcreatemaincomment">
                    {% csrf_token %}
                    {{ form.comment }}
                    <button class="btn waves-effect waves-light" type="submit" name="action">Send
                    <i class="material-icons right">send</i>
                    </button>
                    </form>
                </td>
            </tr>
        </tbody>  
    </table>
        
{% endblock %}
