 {% extends 'layouts/base.html' %}
 {% load materializecss %} {% block content %}

    <h3>Sign up</h3>
    <div class="contact-box">
        <div class="row">
            <form method="POST" class="col s12" enctype="multipart/form-data" action="/createuser">
                {% csrf_token %}
                <tbody>
                    <tr>
                        
                        <td>{{ form.username | materializecss:'s12 m6, icon=person' }}</td>
                    </tr>
                    <tr>
                        
                        <td>{{ form.email | materializecss:'s12 m6, icon=email' }}</td>
                    </tr>
                    
                    <tr>
                        
                        <td>{{ form.password | materializecss:'s12 m6, icon=password'}}</td>
                    </tr>
                    <tr>
                        
                        <td>{{ form.confirmPassword | materializecss:'s12 m6, icon=password' }}</td>
                    </tr>
                <div id="btm" style="clear: left;">
                        <tr>
                            <td>{{ form.avatar }}</td>
                        </tr>
                    </tbody>
                    <label>
                        {{ form.tosCheck }}
                        <span>{{ form.tosCheck.label }}</span>
                    </label>
                    <br>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <div id="message">
        <h5>Password must contain the following:</h5>
              <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
              <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
              <p id="number" class="invalid">A <b>number</b></p>
              <p id="length" class="invalid">Minimum <b>8 characters</b></p>
      </div>
        
        
{% endblock %}
