 {% extends 'layouts/base.html' %}
 {% load materializecss %} {% block content %}

    <h3>Sign up</h3>
    {% if error %}
        <div class="registration-error-box">
            {% if user_error %}
            <p class="registration-error-message">Username already exist.</p>
            {% endif %}
            {% if email_error %}
            <p class="registration-error-message">Email already exist.</p>
            {% endif %}
            {% if valMessages %}
            <ul class="registration-error-message">
                {% for message in valMessages %}
                <li> {{message}} </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if different_pw_error %}
            <p class="registration-error-message">Confirm password does not match.</p>
            {% endif %}
        </div>
    {% endif %}
    <div class="contact-box">
        <form method="POST" class="col s12" enctype="multipart/form-data" action="/createuser">
            {% csrf_token %}
            <tbody>
                <tr>
                    <td>{{ form.username | materializecss:'s12 m6, icon=person' }}</td>
                </tr>
                <p class="register-text">*Username must be unique.</p>
                <tr>
                    <td>{{ form.email | materializecss:'s12 m6, icon=email' }}</td>
                </tr>
                <tr>
                    <td>{{ form.password | materializecss:'s12 m6, icon=password'}}</td>
                </tr>
                <p class="register-text">*Password must be at least 8 characters long, 1 uppercase letter, 1 symbol, and 1 number.</p>
                <tr>
                    <td>{{ form.confirmPassword | materializecss:'s12 m6, icon=password' }}</td>
                </tr>
                <tr>
                    <label>
                        {{ form.tosCheck }}
                        <span style="color: black; margin-bottom: 10px;">I agree to <a href="/termsofservice">Terms of Service</a></span>
                    </label>
                    <br>
                    <button class="btn waves-effect waves-light" id="reg-button" type="submit" name="action">Sign Up
                        <i class="material-icons right">send</i>
                    </button>
                </tr>
            </tbody>
            <p><br>Already have an account? Click below to login!</p>
            <a href="login" class="waves-effect waves-light btn-small" id="reg-button">Login</a>
        </form>
    </div>

{% endblock %}
