 {% extends 'layouts/base.html' %}
 {% load materializecss %} {% block content %}

    <h3>Educator User Sign up</h3>
    {% if error %}
        <div class="registration-error-box">
            {% if user_error %}
            <p class="registration-error-message">Username already exist.</p>
            {% endif %}
            {% if email_error %}
            <p class="registration-error-message">Email already exist.</p>
            {% endif %}
            {% if valMessages %}
            <ul class="registration-error-message">
                {% for message in valMessages %}
                <li> {{message}} </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if different_pw_error %}
            <p class="registration-error-message">Confirm password does not match.</p>
            {% endif %}
        </div>
    {% endif %}
    <div class="contact-box">
        <form method="POST" class="col s12" enctype="multipart/form-data" action="/createEducatorUser">
            {% csrf_token %}
            <tbody>
                <tr>
                    <td class="tooltip">{{ form.username | materializecss:'s12 m6, icon=person' }}</td>
                </tr>
                <p class="register-text">*Username must be unique.</p>
                <tr>
                    <td>{{ form.email | materializecss:'s12 m6, icon=email' }}</td>
                </tr>
                <tr>
                    <td>{{ form.password | materializecss:'s12 m6, icon=password'}}</td>
                </tr>
                <p class="register-text">*Password must be at least 8 characters long, 1 lowercase, 1 uppercase letter, 1 symbol, and 1 number.</p>
                <tr>
                    <td>{{ form.confirmPassword | materializecss:'s12 m6, icon=password' }}</td>
                </tr>
                <br>
                <tr>
                    <div class="reg-text">{{ form.institute.label }}</div>
                    <div class="input-field col s12">
                        {{ form.institute }}
                    </div>
                </tr>
                <tr>
                    <div class="reg-text">{{ form.field.label }}</div>
                    {{ form.field }}
                </tr>
                <br>
                <tr>
                    <label>
                        {{ form.tosCheck }}
                        <span style="color: black; margin-bottom: 10px;">I agree to <a href="/termsofservice">Terms of Service</a></span>
                    </label>
                    <br>
                    <button class="btn waves-effect waves-light" id="reg-button" type="submit" name="action">Sign Up
                        <i class="material-icons right">send</i>
                    </button>
                </tr>
            </tbody>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, []);
      });
    </script>
{% endblock %}
