{% extends 'layouts/base.html' %}{% block content %}


    {% if searched %}
        <h2>Search Results for: {{ searched }}</h2>
        <br>
        {% for studyGroup in studyGroups %}
        <tbody>  
            <tr>  
                <td>{{ studyGroup.groupName }}</td>
                <td>{{ studyGroup.ownerId }}</td>
                <td>{{ studyGroup.description }}</td>
            </tr>
        </tbody>
        {% endfor %}
        </br>
    {% else %}
        <h2>Search word invalid!</h2>
        <h2>{{ searched }}</h2>
    {% endif %}

{% endblock%}