{% extends 'layouts/base.html' %}{% block content %}

    {% if searched %}
        <h4>Search Results for: {{ searched }}</h4>
        <div class="collection">
            {% for studygroup in studygroups %}
            <a href="{{ studygroup.studyGroupId }}/studygroup" class="collection-item">
                <b>{{ studygroup.groupName }}</b>・{{ studygroup.ownerId }}<br>
                <p>{{ studygroup.description }}</p>
            </a>
            {% endfor %}
        </div>
    {% else %}
        <h3>Please input a search word</h3>
    {% endif %}

{% endblock%}