{% extends 'layouts/base.html' %} 
{% load tz %}
{% block content %}

    <h3>{{ studygroup.groupName }}</h3>
    <span>
        <a href="/{{ studygrouppost.userId.userId }}/userprofile" class="font-blue">{{ studygrouppost.userId }}</a>
        {% if studygrouppost.userId.role == "educator" %}
        <span class="new badge red educator-badge" data-badge-caption="Educator"></span>
        {% endif %}
    </span>

    {% if studygrouppost.userId == user %}
    ・<a href="editstudygrouppost">edit post</a>
    <br>
    {% endif %}
    
    {{ studygrouppost.postDateTime | localtime}}

    <p>{{ studygrouppost.post }}</p>
    
    <hr>

    <h5>Comments</h5>
    <table>
        <tbody>  
            {% for comment in comments %}  
            <tr>  
                <td>{{ comment.comment }}</td>
                <td>
                    <a href="/{{ comment.userId.userId }}/userprofile" class="font-blue">{{ comment.userId }}</a>
                    {% if comment.userId.role == "educator" %}
                    <span class="new badge red educator-badge" data-badge-caption="Educator"></span>
                    {% endif %}
                    {% if comment.userId == user %}
                    ・<a href="{{ comment.commentId }}/editstudygroupcomment">edit comment</a>
                    <br>
                    {% endif %}
                </td>
                <td>{{ comment.commentDateTime | localtime}}</td>
            </tr>  
            {% endfor %}
            <tr>
                <td>
                    <form method="POST" class="col s12" enctype="multipart/form-data" action="execcreatestudygroupcomment" id="text-comment">
                    {% csrf_token %}
                    {{ form.comment }}
                    <button class="btn waves-effect waves-light" type="submit" name="action">Send
                    <i class="material-icons right">send</i>
                    </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
