{% extends 'layouts/base.html' %} {% block content %}

    <h3>{{ studygroup.groupName }}</h3>

    <ul>
        <li>Host: {{ studygroup.ownerId }}</li>

        <li>Description: {{ studygroup.description }} </li>
        <li>Subject: {{ studygroup.subject }} </li>
        <li>Group Capacity: {{ studygroup.memberCount }}</li>
        <li>Members:  </li>

    </ul>

    
    <h4>Forum</h4>
    <table>
        <tbody>  
            {% for studygrouppost in studygroupposts %}  
            <tr>  
                <td>{{ studygrouppost.postTitle }}</td>
                <td>{{ studygrouppost.post }}</td>
                <td>{{ studygrouppost.userId }}</td>
                <td>{{ studygrouppost.postDateTime }}</td>
            </tr>  
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
