{% extends 'layouts/base.html' %} {% block content %}

    {% if studygroups %}
    <div class="collection">
        {% for studygroup in studygroups %}
        <a href="/{{ studygroup.studyGroupId }}/studygroup" class="collection-item">
            <b>{{ studygroup.groupName }}</b>・{{ studygroup.ownerId }}<br>
            <p>{{ studygroup.description }}</p>
        </a>
        {% endfor %}
    </div>
    {% else %}
        <h4>There is no study group in this section yet.</h4>
        <div class="create-wrapper">
            <div class="boxB"><a href="/createstudygroup" class="font-white">+ Create Group for this section</a></div>
        </div>
    {% endif %}

    <div class="create-wrapper">
    <a href="/createstudygroup" class="font-white">
        <div class="boxB">+ Create Group</div>
    </a>
</div>

{% endblock %}
