{% extends 'layouts/base.html' %} {% block content %}

    <h3>{{ studygroup.groupName }}</h3>
    
    <div>Description: {{ studygroup.description }}</div>
    <div>Subject: {{ studygroup.subject }}</div>

    
    <h4>Forum</h4>
    <table>
        <tbody>  
            {% for studygrouppost in studygroupposts %}  
            <tr>  
                <td>{{ studygrouppost.postTitle }}</td>
                <td>{{ studygrouppost.post }}</td>
                <td>{{ studygrouppost.userId }}</td>
                <td>{{ studygrouppost.postDateTime }}</td>
            </tr>  
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
