{% extends 'layouts/base.html' %} {% block content %}

    {% if studygroups %}
    <div class="collection">
        {% for studygroup in studygroups %}
        <a href="/{{ studygroup.studyGroupId }}/studygroup" class="collection-item">
            <b>{{ studygroup.groupName }}</b>・{{ studygroup.ownerId }}
            {% if studygroup.ownerId.role == "educator" %}
            <span class="new badge red educator-badge" data-badge-caption="Educator"></span>
            {% endif %}
            <br>
            <p>{{ studygroup.description }}</p>
        </a>
        {% endfor %}
    </div>
    {% else %}
        <h4>There is no study group in this section yet.</h4>
        <div class="create-wrapper">
            <a href="/createstudygroup" class="font-white">
                <div class="boxB">+ Create Group</div>
            </a>
        </div>
    {% endif %}

{% endblock %}
