{% extends 'layouts/base.html' %} {% block content %}
    <div class="tos-block">
        <div class="tos-title">
            <h3>UniTea Terms of Service</h3>
        </div>

        <hr class="solid">

        <div class="tos-subtopic1">
            <h4 align="left">INTRODUCTION AND ACCEPTING THE TERMS</h4>
        </div>
        <div class="tos-subbody1">
            <p class="tos-p" align="left">
                &emsp;Welcome to UniTea!  By using or accessing the UniTea website, which are collectively referred to as the “Service,” you agree (i) that you are 15 years of age and the minimum age of digital consent in your country, (ii) if you are the age of majority in your jurisdiction or over, that you have read, understood, and accept to be bound by the Terms, and (iii) if you are between 15 (or the minimum age of digital consent, as applicable) and the age of majority in your jurisdiction, that your legal guardian has reviewed and agrees to these Terms.
            </p>
        </div>

        <div class="tos-subtopic2">
            <h4 align="left">RIGHTS TO USE THE SERVICE</h4>
        </div>
        <div class="tos-subbody2">
            <p class="tos-p" align="left">
                &emsp;The Services provides a social and online communication platform.
                The Service may allow you to participate in public and private chat and to utilize messaging features to communicate with other users of the Service.
                The Service may also allow you to access certain software and/or other content that is available from the Company.
                You agree not to (and not to attempt to) (i) use the Service for any use or purpose other than as expressly permitted by these Terms; (ii) copy, adapt, modify, prepare derivative works based upon, distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast, attempt to discover any source code, reverse engineer, decompile, disassemble, or otherwise exploit the Service or any portion of the Service, except as expressly permitted in these Terms; or (iii) use data mining, robots, spiders, or similar data gathering and extraction tools on the Service.
                No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by the Company or its licensors, except for the permissions and rights expressly granted in these Terms.
                The Company reserves the right to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. The Company reserves the right to refuse any user access to the Services without notice for any reason, including but not limited to a violation of the Terms. If you violate these Terms, the Company reserves the right to issue you a warning regarding the violation or immediately terminate or suspend any or all Accounts you have created using the Service. You agree that the Company need not provide you notice before terminating or suspending your Account(s), but it may do so.
            </p>
        </div>

        <div class="tos-subtopic3">
            <h4 align="left">YOUR ACCOUNT</h4>
        </div>
        <div class="tos-subbody3">
            <p class="tos-p" align="left">
                &emsp;You are responsible for your log-in credentials and for any activity resulting from the use of your log-in credentials or other activity on your account (“Account”) on the Service.
                Upon navigating to the Service, if you do not already have an Account, you will be permitted to browse through the Service with limited functionalities.
                You will be prompted to create an account should you choose to use any functionalities provided on the Service.
                You will be required to provide a proper username, email, and password and you must agree to the Company Terms of Service before an account can be made.
                You represent and warrant that the information you provide to us upon registration and at all other times will be true, accurate, current, and complete.
                We reserve the right to reject any username or to terminate your username or prevent use of a username in our sole discretion, and without any liability to you.
                You understand and agree that other users, including yourself, will all have a different username, and should a username you have chosen matched another username within the Service, you will be prompted to pick a different username.
                You will ensure that your e-mail address is kept accurate and up-to-date at all times.
                Should you terminate your account, or your account was terminated for violating our Terms of Service,the username you selected for use in connection with the Service will be available for other users after account is fully terminated.
                You are responsible for maintaining the confidentiality of your log-in credentials and are fully responsible for all activities that occur through the use of your credentials or otherwise on your Account.
                You agree to notify us immediately if you believe the confidentiality of your log-in credentials has been compromised or if you suspect unauthorized use of your Account. You agree that we will not be liable for any loss or damage arising from unauthorized use of your credentials.
            </p>
        </div>

        <div class="tos-subtopic4">
            <h4 align="left">RULES OF CONDUCT AND USAGE</h4>
        </div>
        <div class="tos-subbody4">
            <p class="tos-p" align="left">
                &emsp;The Service provides communication channels such as forums ("Main Forums") or communities ("Study Group Forums") designed to enable you to communicate with other Service users.
                The Company has no obligation to monitor these communication channels but it may do so in connection with providing the Service.
                The Company may also terminate or suspend your access to Main Forums or Study Group Forums at any time, without notice, for any reason.
                You acknowledge that any user content (including without limitation chats, postings, or materials posted by users) on the Main Forums or Study Group Forums is neither endorsed nor controlled by us.
                The Company will not under any circumstances be liable for any activity within Main Forums or Study Group Forums. The Company is not responsible for information that you choose to share on the Main Forums or Study Group Forums, or for the actions of other users. As a condition of your use of the Service, and without limiting your other obligations under these Terms, you agree to comply with the restrictions and rules of use set forth in these Terms and our Community Guidelines as well as any additional restrictions or rules (such as application-specific rules) set forth in the Service. As an example, you agree not to use the Service in order to:
            </p>
            <p class="tos-p" align="left">
                &emsp;- post, transmit or otherwise disseminate information that is objectionable as outlined in our Community Guidelines;
            </p>
            <p class="tos-p" align="left">
                &emsp;- defame, libel, ridicule, mock, stalk, threaten, harass, intimidate or abuse anyone;
            </p>
            <p class="tos-p" align="left">
                &emsp;- engage in conduct that is fraudulent or illegal or otherwise harmful to UniTea or any other user;
            </p>
            <p class="tos-p" align="left">
                &emsp;- attempt to obtain passwords or other private information from other members;
            </p>
            <p class="tos-p" align="left">
                &emsp;- improperly use support of feedback features or complaint buttons to make false reports to us;
            </p>
            <p class="tos-p" align="left">
                These rules of use are not meant to be exhaustive, and we reserve the right to determine what conduct we consider to be a violation of the Terms, Community Guidelines or improper use of the Service and to take action including termination of your Account and exclusion from further participation in the Service.
            </p>
        </div>
    </div>
{% endblock %}