 {% extends 'layouts/base.html' %} {% block content %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/testabout.css' %}">
{% endblock %}

<div class="about-wrapper">
<div class="about-flex">
<div class='card-kiara'> {% include "prototype/individual_abouts/kiaraAbout.html" %} </div>
<div class='card-josh'> {% include "prototype/individual_abouts/joshAbout.html" %} </div>
<div class='card-ostyn'> {% include "prototype/individual_abouts/ostynAbout.html" %} </div>
<div class='card-cong'> {% include "prototype/individual_abouts/congAbout.html" %} </div>
<div class='card-melinda'> {% include "prototype/individual_abouts/melindaAbout.html" %} </div>
<div class='card-miho'> {% include "prototype/individual_abouts/mihoAbout.html" %} </div>
<div class='card-vernon'> {% include "prototype/individual_abouts/vernonAbout.html" %} </div>
</div>
</div>

{% endblock %}