{% extends 'layouts/base.html' %} {% block content %}
    <h3>Create a New Post</h3>
        <div class="contact-box">
            <div class="row">
                <form method="POST" class="col s12" enctype="multipart/form-data" action="/execcreatemainpost">
                    {% csrf_token %}
                    <tbody>
                        <div class="editMP-title" id="editMP-title">
                            <th>{{ form.postTitle.label }}</th>
                            <td>{{ form.postTitle }}</td>
                            <td>{{ form.postTitle.errors }}</td>
                        </div>
                        <div class="input-field col s12" id="editMP-post">
                            <th>{{ form.post.label }}</th>
                            <td>{{ form.post }}</td>
                            <td>{{ form.post.error }}</td>
                        </div>
                    </tbody>
                    <br>
                    <div class="editMP-buttons">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                    </div>
                </form>
            </div>
        </div>
        
{% endblock %} 