 {% extends 'layouts/base.html' %} {% block content %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/testabout.css' %}">
{% endblock %}

<div class="about-flex">
    <div class='card-kiara'> {% include "prototype/individual_abouts/kiara.html" %} </div>
    <div class='card-josh'> {% include "prototype/individual_abouts/josh.html" %} </div>
    <div class='card-ostyn'> {% include "prototype/individual_abouts/ostyn.html" %} </div>
    <div class='card-cong'> {% include "prototype/individual_abouts/cong.html" %} </div>
    <div class='card-melinda'> {% include "prototype/individual_abouts/melinda.html" %} </div>
    <div class='card-miho'> {% include "prototype/individual_abouts/miho.html" %} </div>
    <div class='card-vernon'> {% include "prototype/individual_abouts/vernon.html" %} </div>
</div>


{% endblock %}