{% extends 'layouts/base.html' %} 
{% load materializecss %}{% block content %}

        <h3>Update Password</h3>
        <form method="POST" class="col s12" id="updatepasswordform" enctype="multipart/form-data" action="updatepassword">
                {% csrf_token %}
                <tbody>
                    <tr>
                        <th>{{ form.currentPassword.label }}</th>
                        <td>{{ form.currentPassword }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.newPassword.label }}</th>
                        <td>{{ form.newPassword }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.confirmPassword.label }}</th>
                        <td>{{ form.confirmPassword }}</td>
                    </tr>
                </tbody>
                <div class="editMP-buttons">
                    <a href="edituser" class="waves-effect waves-light btn-small" id="editMP-button">Cancel</a>
                    <a href="#" onclick="document.forms['updatepasswordform'].submit();" class="waves-effect waves-light btn-small" id="editSGP-button">Save</a>
                </div>
            </form>

        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}