{% extends 'layouts/base.html' %} {% block content %}
<div class="bio">
    <div class="avatar flex-center">
        {% if not userprofile.avatar %}
        <img src=MEDIA_URL+{{ user.avatar }} />
        {% else %}
        <img src="https://i.pinimg.com/236x/38/aa/95/38aa95f88d5f0fc3fc0f691abfaeaf0c.jpg" alt="..." class="avatar-img rounded-circle" />
        {% endif %}
    </div>
    <div class="flex-center">
        <h4>{{ userprofile.username }}</h4>
    </div>
    {% if userprofile.profile %}
    <div>
        <p class="flex-center">{{ userprofile.profile }}</p>
    </div>
    {% endif %}
    
    {% if userprofile == user %}
    <a href="/edituser" class="flex-center">edit user profile</a>
    {% endif %}
    <br>
</div>

<div class="col s12 user-list-section">
    <ul class="tabs" id="dashboard">
        <li class="tab col s4 dash-list-tab"><a href="#your-group" class="active" >Groups You Joined</a></li>
        <li class="tab col s4 dash-list-tab"><a href="#host-group">Groups Hosted by You</a></li>
        <li class="tab col s4 dash-list-tab"><a href="#main-post">Your Forum Post</a></li>
        <li class="tab col s4 dash-list-tab"><a href="#study-group-post">Your Study Group Forum Post</a></li>
    </ul>
</div>
<div id="your-group" class="col s12">
    {% if studyGroupsAsMember %}
        <div class="collection">
            {% for studyGroupAsMember in studyGroupsAsMember %}
            <a href="/{{ studyGroupAsMember.studyGroupId }}/studygroup" class="collection-item">
                <b>{{ studyGroupAsMember.groupName }}</b>・{{ studyGroupAsMember.ownerId }}<br>
                <p>{{ studyGroupAsMember.description }}</p>
            </a>
            {% endfor %}
        </div>
    {% else %}
        <h6>You have not joined any group.</h6>
    {% endif %}
</div>
<div id="host-group" class="col s12">
    {% if studyGroupsAsHost %}
        <div class="collection">
            {% for studyGroupAsHost in studyGroupsAsHost %}
            <a href="/{{ studyGroupAsHost.studyGroupId }}/studygroup" class="collection-item">
                <b>{{ studyGroupAsHost.groupName }}</b>・{{ studyGroupAsHost.ownerId }}<br>
                <p>{{ studyGroupAsHost.description }}</p>
            </a>
            {% endfor %}
        </div>
    {% else %}
        <h6>You have not hosted any group.</h6>
    {% endif %}
</div>
<div id="main-post" class="col s12">
    {% if mainPosts %}
        <div class="collection">
            {% for mainPost in mainPosts %}
            <a href="/{{ mainPost.postId }}/mainpost" class="collection-item">
                <b>{{ mainPost.postTitle }}</b>・{{ mainPost.userId }}<br>
                <p>{{ mainPost.post }}</p>
            </a>
            {% endfor %}
        </div>
    {% else %}
        <h6>You have not posted to Forum.</h6>
    {% endif %}
</div>
<div id="study-group-post" class="col s12">
    {% if mainPosts %}
        <div class="collection">
            {% for studyGroupPost in studyGroupPosts %}
            <a href="/{{ studyGroupPost.studyGroupId.studyGroupId }}/{{ studyGroupPost.postId }}/studygrouppost" class="collection-item">
                <b>{{ studyGroupPost.postTitle }}</b>・{{ studyGroupPost.userId }}<br>
                <p>{{ studyGroupPost.post }}</p>
            </a>
            {% endfor %}
        </div>
    {% else %}
        <h6>You have not posted to Study Group Forum.</h6>
    {% endif %}
</div>

<script type="text/javascript">
    var dashboard = M.Tabs.init(document.getElementById('dashboard'))
</script>

{% endblock %}