.about-wrapper{
    display: flex;
    justify-content: center;
}

.about-flex {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: normal;
    margin: 2%;
    max-width: 1277px;
}

div[class^="card"] {
    margin: 1%;
    max-width: 350px;
    align-self: top;
}

img{
    width: 100%;
    height: auto;
}

.cropped {
    width: 350px;
    height: 350px;
    object-fit: cover;
}