.abt-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  .abt-li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  .abt-li a:hover {
    background-color: #555;
    color: white;
  }

  .cropped {
    width: 350px;
    /* width of container */
    height: 350px;
    /* height of container */
    object-fit: cover;
    border: 5px dashed black;
}