/* for our forms */
/*************************************************/
form input, textarea, button {
    display: block;
    margin: 30px;
}

html {
  background-color: #e3dcc9;
}

a {
  color: white;
}

#center-it {
  margin-left: 33%;
  margin-right: 33%;
}

#btn-center {
  margin-left: 100%;
}

.nav-wrapper {
    background-color: #94618E;
}

.nav-username{
  font-weight: bold;
}

.contact-box {
    display: flex;
    justify-content: center;
}

.input-field {
    margin: 20px;
}

.row {
    display: block;
    justify-content: center;
    margin-left: 33%;
    margin-right: 33%;
}

.btn {
  background-color: rgb(52, 50, 73);
}

.btn:hover {
  background-color:rgb(43, 63, 87);
}
  
.subject-wrapper {
  margin-top: 5%;
   display: grid;
    grid-gap: 20px;
    /* 20% * 5 = 100% */
    grid-template-columns: repeat(3, [col] 25%) ;
    grid-template-rows: repeat(2, [row] 25%  );
    background-color: #d9b787;
    color: rgb(52, 50, 73);
    justify-content: space-evenly;
    margin-bottom: 30px;
}


.create-wrapper {
  display: grid;
  grid-gap: 5px;
  /* 20% * 5 = 100% */
  grid-template-columns: repeat(3, [col] 25%) ;
  grid-template-rows: repeat(2, [row] 25%  );
  background-color: #d9b787;
  justify-content: space-evenly;
  
}

  
*, *:before, *:after {
  box-sizing: border-box;
}

.home-body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  color: 83849c;
  justify-content: center;
}

.box {
background-color: #444;
color: #fff;
border-radius: 10px;
padding: 35px;
font-size: 150%;
text-align: center;
}

.a {
  grid-column: col / span  1;
  grid-row: row 1;
  animation: getBigger 2s 1s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("/static/media/Math.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.b {
  grid-column: col 2 / span  1 ;
  grid-row: row 1;
  animation: getBigger 2s 3s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("/static/media/Science.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.c {
  grid-column: col 3 / span 1;
  grid-row: row 1;
  animation: getBigger 2s 5s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("/static/media/Languages.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.d {
  grid-column: col / span  1 ;
  grid-row: row 2;
  animation: getBigger 2s 7s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("/static/media/Economics.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.e {
  grid-column: col 2 / span 1;
  grid-row: row 2;
  animation: getBigger 2s 9s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("/static/media/History.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.f {
  grid-column: col 3 / span 1;
  grid-row: row 2  ;
  animation: getBigger 2s 11s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("/static/media/Business1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.g {
  grid-column: col 1 / span 3;
  grid-row: row 3  ;
  background-color: #d9b787;
  z-index: 20;
  padding-left: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.h {
  grid-column: col 1 / span 3;
  grid-row: row 3;
  margin-top: 30px;
  margin-bottom: 30px;
}

.i {
  grid-column: col 1 / span 3;
  grid-row: row 4;
  margin-top: 30px;
  margin-bottom: 30px;
}

.j {
  grid-column: col 1 / span 3;
  grid-row: row 5;
  margin-top: 30px;
  margin-bottom: 30px;
}

.l {
  grid-column: col 2 / span 1;
  grid-row: row 2;
  margin-top: 30px;
  margin-bottom: 30px;
}

.k {
  grid-column: col 1 / span 3;
  grid-row: row 0  ;
  background-color: #d9b787;
  z-index: 20;
  padding-left: 30px;
  text-align: center;
  margin-top: 50px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-bottom: 100px;
}


.page-footer {
  background-color: #94618E;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 0px;
  color: white;
}


#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 15px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
}