/* for our forms */
/*************************************************/
form input, textarea, button {
    display: block;
    margin: 30px;
}

html {
  background-color: rgb(184, 226, 205);
}

.nav-wrapper {
    background-color: rgb(48, 238, 105);
}

.contact-box {
    display: flex;
    justify-content: center;
}

.input-field {
    margin: 20px;
}

.row {
    margin: 30px;
}

.btn {
    background-color: rgb(48, 238, 105);
}

.btn:hover {
  background-color:rgb(17, 126, 49);
}
  
.wrapper {
   display: grid;
    grid-gap: 10px;
    /* 20% * 5 = 100% */
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: rgb(48, 238, 105);
    color:rgb(48, 238, 105);
}
  
*, *:before, *:after {
  box-sizing: border-box;
}

.home-body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: ;
  color: rgb(17, 126, 49);
}

h1, p {
  margin: 0 0 1em 0;
}

/* no grid support? */
.sidebar {
  float: left;
  width: 19.1489%;
}

.content {
  float: right;
  width: 79.7872%;
}

/* make a grid */
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.wrapper > * {
  background-color: rgb(17, 126, 49);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

.header, .footer {
  grid-column: 1 / -1;
  /* needed for the floated layout */
  clear: both;
}


/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}

.home-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.home-li {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.home-li:hover {
  background-color: #93E9BE;
  color: white;
}