/* for our forms */
/*************************************************/
form input, textarea, button {
    display: block;
    margin: 30px;
}

html {
  background-color: rgb(184, 226, 205);
}

a {
  color: white;
}

.nav-wrapper {
    background-color: rgb(48, 238, 105);
}

.contact-box {
    display: flex;
    justify-content: center;
}

.input-field {
    margin: 20px;
}

.row {
  /*display: block;
    justify-content: center;*/
    margin-left: 33%;
}

.btn {
    background-color: rgb(48, 238, 105);
}

.btn:hover {
  background-color:rgb(17, 126, 49);
}
  
.subject-wrapper {
  margin-top: 5%;
   display: grid;
    grid-gap: 20px;
    /* 20% * 5 = 100% */
    grid-template-columns: repeat(3, [col] 25%) ;
    grid-template-rows: repeat(2, [row] 25%  );
    background-color: rgb(48, 238, 105);
    color:rgb(48, 238, 105);
    justify-content: space-evenly;
    margin-bottom: 30px;
}


.create-wrapper {
  display: grid;
  grid-gap: 5px;
  /* 20% * 5 = 100% */
  grid-template-columns: repeat(3, [col] 25%) ;
  grid-template-rows: repeat(2, [row] 25%  );
  background-color: rgb(184, 226, 205);
  color:rgb(48, 238, 105);
  justify-content: space-evenly;
  
}

  
*, *:before, *:after {
  box-sizing: border-box;
}

.home-body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  color: rgb(17, 126, 49);
  justify-content: center;
}

@keyframes getBigger {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}

.box {
background-color: #444;
color: #fff;
border-radius: 10px;
padding: 35px;
font-size: 150%;
text-align: center;
}

.a {
  grid-column: col / span  1;
  grid-row: row 1;
  animation: getBigger 2s 1s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
}
.b {
  grid-column: col 2 / span  1 ;
  grid-row: row 1;
  animation: getBigger 2s 3s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
}
.c {
  grid-column: col 3 / span 1;
  grid-row: row 1;
  animation: getBigger 2s 5s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
}
.d {
  grid-column: col / span  1 ;
  grid-row: row 2;
  animation: getBigger 2s 7s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
}

.e {
  grid-column: col 2 / span 1;
  grid-row: row 2;
  animation: getBigger 2s 9s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
}

.f {
  grid-column: col 3 / span 1;
  grid-row: row 2  ;
  animation: getBigger 2s 11s ease-in;
  margin-top: 30px;
  margin-bottom: 30px;
}

.g {
  grid-column: col 1 / span 3;
  grid-row: row 3  ;
  background-color: rgba(49,121,207, 0.5);
  z-index: 20;
  padding-left: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.h {
  grid-column: col 1 / span 3;
  grid-row: row 3;
  margin-top: 30px;
  margin-bottom: 30px;
}

.i {
  grid-column: col 1 / span 3;
  grid-row: row 4;
  margin-top: 30px;
  margin-bottom: 30px;
}

.j {
  grid-column: col 1 / span 3;
  grid-row: row 5;
  margin-top: 30px;
  margin-bottom: 30px;
}

.l {
  grid-column: col 2 / span 1;
  grid-row: row 2;
  margin-top: 30px;
  margin-bottom: 30px;
}

.k {
  grid-column: col 1 / span 3;
  grid-row: row 0  ;
  background-color: rgba(49,121,207, 0.5);
  z-index: 20;
  padding-left: 30px;
  text-align: center;
  margin-top: 50px;
}



.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*main {
  flex: 1 0 auto;
}*/

.foot {
  margin-top: 10%;
}

.page-footer {
  background-color: rgb(48, 238, 105);
}

