<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT THE TEAM</title>
</head>

<style>
    .cropped {
        width: 350px;
        /* width of container */
        height: 350px;
        /* height of container */
        object-fit: cover;
        border: 5px dashed black;
    }
</style>
HEADER

<body>
    <br></br>

    {% block content %} to be replaced {% endblock %}

    <br></br>
</body>
FOOTER
 
</html>