<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniTea Home</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Our own style sheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style2.css' %}">

    <!-- For icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



</head>
<body>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">UniTea</a>
            <ul id="nav-mobile" class="left">
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="register">Register</a></li>
                <li><a href="contactus">Contact</a></li>
            </ul>
        </div>
    </nav>

        <br></br>

        {% block content %} to be replaced {% endblock %}

        <br></br>

        <div class="foot">
            <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                © 2021 UniTea
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
            </footer>
        </div>






        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>