<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniTea Home</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Our own style sheet -->        
    {% load static %}       
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- For icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body> 
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">UniTea</a>
            <ul id="nav-mobile" class="left">
                <li><a href="/home">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="contactus.html">Contact</a></li>
            </ul>
        </div>
    </nav>

   <!-- <div class="home-body">
        <div class="wrapper">
        <header class="header">UniTea, making studying easier for you.</header>
        <aside class="sidebar">Tea time with a kick!</aside>
        <article class="content">
            <h1>Welcome to UniTea</h1>
            <p>Here at UniTea we are all about gaining knowledge and learning from one another. And Tea, yes, we love tea!</p>
        </article>
        <footer class="footer">Register for UniTea today!</footer>
        </div>
    </div> -->

    <!-- Test registered user listing  -->
    <table>  
        <thead>  
            <tr>  
                <th>User ID</th>  
                <th>User Name</th>  
                <th>User Email</th>
                <th>Role</th>
            </tr>  
        </thead>  
        <tbody>  
            {% for user in users %}  
            <tr>  
                <td>{{ user.userId }}</td>  
                <td>{{ user.username }}</td>  
                <td>{{ user.email }}</td>   
                <td>{{ user.role }}</td>  
            </tr>  
            {% endfor %}  
        </tbody>  
    </table>  

    <div class="home-body">
        <div class="subject-wrapper">
                <div class="box a">Math</div>
                <div class="box b">Science</div>
                <div class="box c">Languages</div>
                <div class="box d">Economics</div>
                <div class="box e">History</div>
                <div class="box f">Business</div>
        </div>
        <div class="post-wrapper">
                <div class="box g">Recently Added Groups</div>
                <div class="box i">Group #1</div>
                <div class="box j">Group #2</div>
        </div>

        <div class="foot">
            <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                © 2021 UniTea
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
            </footer>
        </div>





        
        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>