{% extends 'base.html' %} {% block content %}
   <div class="home-body">
        <div class="subject-wrapper">
                <div class="box a">Math</div>
                <div class="box b">Science</div>
                <div class="box c">Languages</div>
                <div class="box d">Economics</div>
                <div class="box e">History</div>
                <div class="box f">Business</div>
        </div>
        <div class="post-wrapper">
                <div class="box g">Recently Added Groups</div>
                <div class="box i">Group #1</div>
                <div class="box j">Group #2</div>
        </div>
    </div>
{% endblock %} 