{% extends 'aboutPages.html' %} {% block content %}
<h1>Vernon Xie</h1>
<img class="cropped" src="https://cdn.discordapp.com/attachments/851329758364827689/851517302984671242/10400160_10208843423862994_25572621170251651_n_1.jpg">
<p>I am Vernon, a team member of the T4 Milk Tea Team. I graduated from George Washington High School in 2012. After graduating High school, I enlisted in the United States Marine Corps and gained many new skills and new family members. After separating
    from the service in 2016, I begun taking college classes in pursuit of a Computer Science degree, starting a City College of San Francisco and then transferring to San Francisco State University to complete my Bachelors Degree. I am currently a senior
    at San Francisco State University. My hobbies include Cars, Motorcycles, and Pickleball.</p>

{% endblock %}