 {% extends 'aboutPages.html' %} {% block about %}
<h1>Cong Le</h1>
<img class="cropped" src="https://cdn.discordapp.com/attachments/851329758364827689/851329960357527553/AAWUweU-tp9fkxWLHR0OnRm9XVUNvfAN9cCtKR9PCfb_ndE3LVowXPp_tWfhO1oocQgriK_27aR54_udIHPuXeAmB8Swt3D-GEUS.png" alt="Cong Le Portrait" width="500" height="331">
<p>I am a back-end assistance, GitHub admin assistance, and a team member of Team T4 Milk Tea. I graduated from the Brandon Hall highschool of Atlanta, Georgia and spent the majority of my college life in Southern California. I recently transferred to San
    Francisco State University and had an opportunity to be a part of a web development team; T4 Milk Tea. I have 2 years of experience in C++, C, and Java. I enjoy taking on complex problem and I am thrilled to use my experience to help Team T4 Milk
    Tea. I have a variety of hobbies but my most enjoyable ones are playing video games and participating in philosophical discussion. </p>
{% endblock %}