{% extends 'aboutPages.html' %} {% block about %}
<h1> Melinda Yee </h1>
<img class="cropped" src="https://cdn.discordapp.com/attachments/700587771999420468/851282374952353792/kk2GzFZtxyrkOnsrTndyXfjPfBE2ro5-dWEHXwqPNcLy_P68na1fg6AnquChG0xF3JA7_ddPsfHsAooKtouhzZKO-BcnTAiQ9cto.png" alt="Image of Melinda" width="333" height="500">

<p> I am a current senior at San Francisco State University, majoring in Computer Science. A little back story about me, I graduated from Alameda Science and Technology Institute (ASTI). It is a small early college high school where you are able to take Community
    college courses starting your freshman year. I have about a year of experience in the CS/Tech field. The past summer I interned at Bay Area Rapid Transit (BART), where I created a prototype for the fare gates to identify different objects using a
    camera and a Nvidia Jetson Nano. My hobbies consist of hiking and photography.
</p>
{% endblock %} 