{% extends 'layouts/about-base.html' %} {% block about %}
 {% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
        <img class="cropped" src="https://cdn.discordapp.com/attachments/851329758364827689/852912873579348009/79033820_2258966124207734_5162026428903981056.jpg">
            <span class="card-title">Miho Shimizu</span>
        </div>
        <div class="card-content">
          <p>I'm a graduate student at SF State University, doing a Master's degree in Computer Science. I'm from Japan and currently taking classes from here. Previously, I graduated from a university in Japan with a Bachelor's degree in Information Science. After
    that, I worked for a manufacturing company for some years as a firmware engineer. Therefore, I'm familiar with C and embedded system development. Other than playing with code, I like traveling, watching anime, and drawing.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 