html {
  scroll-behavior: smooth;
}

#section1 {
  height: 450px;
  background-color: #97bfa2;
}

#section2 {
  height: 450px;
  background-color: #97bfa2;
}

#section3 {
  height: 450px;
  background-color: #97bfa2;
}