/* LANDING */

html {
  scroll-behavior: smooth;
  background-color: #fdfffc;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-bottom: 100px;
}

.container {
  margin: auto;
  justify-content: center;
}

.landing-box {
  font-family: 'Comfortaa', sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  padding: 10px;
}

.greeting-box {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  place-self: center;
  text-align: center;
  /* padding: 10px; */
}

.greeting-text {
  font-size: xx-large;
  text-align: center;
  margin: 10px;
}

.landing-register-button {
  z-index: 0 !important;
  margin: 10px;
}

.landing-login-button {
  z-index: 0 !important;
  margin: 10px;
}

.landing-photo {
  grid-column: 2 / -1;
}
.landing-img{
  border-radius: 25px;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 700px) {
  #landing-photo {
      display: none;
  }
  #greeting-box{
    grid-column: 1/-1;
    grid-row: 1;
  }
}

.landing-slogan{
  padding-top: 20px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column: 1/-1;
  grid-row: 2;
  text-align: center;
  height: min-content;
  font-size: large;
}

/* END LANDING */

/* NAVIGATION BAR */
.nav-wrapper {
    background-color: #2ec4b6;
}

.nav-search{
  display: inline-flex;
  width: 290px !important;
  margin-right: -10px !important;
}

.nav-searchbar{
  color: white;
}

.search-button{
  background: transparent;
  color: white;
  border: transparent;
  height: 63px;
  width: 63px;
  margin-top: -10px;
  margin-left: -1px;
}

.search-button:hover{
  background: #4ecdc4;
}

.nav-username{
  font-weight: bold;
}

/* END NAVIGATION BAR */

.font-white {
  color: white;
}

/* FORM */

form input, textarea, button {
  display: block;
  margin: 30px;
}

.contact-box {
  display: flex;
  justify-content: center;
}

.input-field {
  margin: 20px;
}

.row {
  display: block;
  justify-content: center;
  margin-left: 33%;
  margin-right: 33%;
}

/* END FORM */

/* SUBMIT BUTTON */

.btn {
  background-color: rgb(52, 50, 73);
}

.btn:hover {
  background-color:rgb(43, 63, 87);
}

/* END SUBMIT BUTTON */  

/* SUBJECT BUTTONS */
.subject-wrapper {
  margin-top: 5%;
  display: grid;
  grid-gap: 20px;
  /* 20% * 5 = 100% */
  grid-template-columns: repeat(3, [col] 25%) ;
  grid-template-rows: repeat(2, [row] 25%);
  background-color: #ccffea;
  justify-content: space-evenly;
  border-radius: 10px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 10px;
  padding: 35px;
  font-size: 150%;
  text-align: center;
}

.a {
  grid-column: col 1 / span  1;
  grid-row: row 1;
  background-image: url("/static/media/Math.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
}
.b {
  grid-column: col 2 / span  1 ;
  grid-row: row 1;
  background-image: url("/static/media/Science.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
}
.c {
  grid-column: col 3 / span 1;
  grid-row: row 1;
  background-image: url("/static/media/Languages.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
}
.d {
  grid-column: col 1 / span  1 ;
  grid-row: row 2;
  background-image: url("/static/media/Economics.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
}

.e {
  grid-column: col 2 / span 1;
  grid-row: row 2;
  background-image: url("/static/media/History.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
}

.f {
  grid-column: col 3 / span 1;
  grid-row: row 2  ;
  background-image: url("/static/media/Business.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
}

.create-wrapper {
  padding: 35px;
  margin-top: 30px;
  background-color: #ccffea;
  z-index: 20;
}

/* END OF SUBJECT BUTTONS */

/* FOOTER */

.page-footer {
  background-color: #011627;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 0px;
  color: white;
}


/* PASSWORD CHECK  */

#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 15px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
}

/* END PASSWORD CHECK  */