<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UniTea Home</title>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });
  </script>


  {% load static %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
    integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  {% block styles %}
  {% endblock %}


  <!-- For Comfortaa font https://fonts.google.com/specimen/Comfortaa -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

  <!-- For Search Button-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <nav>
    <div class="nav-wrapper">

      {% if user.is_authenticated %}
      <a href="/" class="brand-logo">UniTea</a>
      <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      {% else %}
      <a href="/" class="brand-logo">UniTea</a>
      <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      {% endif %}

      <ul class="right hide-on-med-and-down">
        <li>
          <div class="search-wrapper">
            <form class="nav-search" method=POST action="/search">
              {% csrf_token %}
              <input class="nav-searchbar" name="searched" type="text" placeholder="Search for a Study Group" />
              <button class="search-button"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </li>
        <li><a href="/" class="font-white">Home</a></li>
        <li><a href="/about" class="font-white">About</a></li>
        <li><a href="/mainforum" class="font-white">Forum</a></li>
        <li><a href="/contactus" class="font-white">Contact</a></li>

        {% if user.is_authenticated %}
        <li class="nav-username"><a href="/{{ user.userId }}/userprofile">Hi, {{ user.username }}!</a></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        {% endif %}

      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">

    <li>
      <div class="side-search-wrapper">
        <form class="side-nav-search" method=POST action="/search">
          {% csrf_token %}
          <input class="side-nav-searchbar" name="searched" type="text" placeholder="Search for a Study Group" />
          <button class="side-search-button"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </li>
    <li><a href="/">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="contactus">Contact</a></li>
    {% if user.is_authenticated %}
    <li style="margin-left: 32px;">Logged in as {{ user.username }}</li>
    <li><a href="/logout">Logout</a></li>
    {% else %}
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    {% endif %}
  </ul>

  {% if messages %}
  {% for message in messages %}
  {% if message.tags == 'success' %}
  <script>M.toast({ html: "{{ message }}", classes: 'green rounded', displayLength: 2000 });</script>
  {% elif message.tags == 'info' %}
  <script>M.toast({ html: "{{ message }}", classes: 'blue rounded', displayLength: 2000 });</script>
  {% elif message.tags == 'warning' %}
  <script>M.toast({ html: "{{ message }}", classes: 'orange rounded', displayLength: 3000 });</script>
  {% elif message.tags == 'error' %}
  <script>M.toast({ html: "{{ message }}", classes: 'red rounded', displayLength: 3000 });</script>
  {% endif %}
  {% endfor %}
  {% endif %}



  <div class="container">
    {% block content %} PAGE CONTENT {% endblock %}
  </div>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        © 2021 UniTea
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
  </footer>
</body>

</html>