<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniTea Home</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Our own style sheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">

    <!-- For icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="topnav">
        <a href="/" class="brand-logo right">UniTea</a>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/register">Register</a>
        <a href="/contactus">Contact</a>
        <div class="search-container">
            <form method=POST  action="/searchusers">
                {% csrf_token %}
                <input type="search" placeholder="Search User" name="searched">
                <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
            </form>
        </div>
    </div>

    <br></br>

    {% block content %} to be replaced {% endblock %}

    <br></br>

    <div class="foot">
        <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
            © 2021 UniTea
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
        </footer>
    </div>

        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>